html {
  background: #f8f7f7;
}

.container {
  background-color: #f7f7f6;
  display: flex; /* or inline-flex */
  margin: 15%
}
.sidebar {
  display: grid;
  background-color: #dddddd;
  width: 25%;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
}

ul {
  padding: 1%;
  list-style-type: none;
  /* text-align: center; */
  font-weight: bolder;
  /* display: grid; */
}
.average, .reviews, .sentiment{

  display: inline-block;
  background-color: #dddddd;
  width: 30%;

}
.right {
 margin-left: 20px;
}

.topBar {
  /* display: inline-block; */
  display: flex;
  justify-content: space-between;
  
}

h4 {
  display: flex;
  justify-content: center;
}

.website {
  background-color: #dddddd;
  height: 30vh;
  /* margin-bottom: 2%;
  margin-top: 0%;
  margin-left: 19%; */

}

.box {
  background-color: #bfbebd;
  margin-left: 10%;
  margin-right: 10%;
  height: 15vh;
 
}